set default=0
set timeout=5

menuentry "SteamLinkOS Live" {
    linux /live/vmlinuz boot=live components quiet splash
    initrd /live/initrd.img
}

menuentry "SteamLinkOS Installer Shell" {
    linux /live/vmlinuz boot=live components systemd.unit=multi-user.target
    initrd /live/initrd.img
}

menuentry "SteamLinkOS Auto Installer (/dev/sda)" {
    linux /live/vmlinuz boot=live components quiet splash systemd.unit=multi-user.target
    initrd /live/initrd.img
}
